.t-container{
    padding-top: 2rem;
  }
  .tech{
    display: flex;
    height: 70vh;
    margin-top: 2rem;
  }
  .t-left{
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 1.1rem;
  }
  .t-left>:nth-child(1){
    color: var(--black);
    font-weight: bold;
    font-size: 3rem;
  }
  .t-left>:nth-child(2){
    color: var(--orange);
    font-weight: bold;
    font-size: 3rem;
  }
  .t-left>:nth-child(3){
    font-weight: 100;
    font-size: 1.5rem;
    color: var(--gray);
    margin-top: 10px;
  }
  .skills{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1.2rem;
  }
  img{
    margin: 0;
    height: 5rem;
    
  }
  
  .floatingdiv>span{
    font-size: 16px;
    font-family: sans-serif;
  }
  .t-right{
    position: relative;
    flex: 1;
  }
  .mainCircle{
    left: 12rem;
    position: absolute;
    width: 16rem;
    height: 16rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: var(--smboxShadow); */
    top: 5rem;
    /* background: linear-gradient(180deg,#f5eed8 26.71%,#fb982f 99.36%); */
    animation: rotate 10s linear infinite;
    .secCircle{
      width: fit-content;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      box-shadow: 0px 5px 20px  rgb(132, 131, 131);
      position: absolute;
      padding: 0.2rem;
      animation: rotaterev 10s linear infinite;
    }
    .secCircle>img{
      border-radius: 50%;
      width: fit-content;
      height: 55px;
      animation: pop 3s infinite;
    }
  }
  .secCircle>img:hover{
      transform: scale(1.5);
  }
  .skills>img:hover{
    transition: 7s;
    animation: pop 3s linear;
  }
  @keyframes pop {
    0%{
      transform: rotate(0deg);
    }
    30%{
      transform: rotate(-360deg);
    }
    60%{
      transform: rotate(360deg);
    }
    100%{
      transform: scale(1.2);
    }
  }
  .mainCircle>:nth-child(1){
    position: relative;
    animation: none;
  }
  @keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
  }
  @keyframes rotaterev {
    0%{
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
  .mainCircle>:nth-child(2){
    top: -4rem;
    left: -4rem;
  }
  .mainCircle>:nth-child(3){
    top: -6rem;
    left: 2rem;
  }
  .mainCircle>:nth-child(4){
    top: -3rem;
    left: 6rem;
  }
  .mainCircle>:nth-child(5){
    top: -5rem;
    left: 11rem;
  }
  .mainCircle>:nth-child(6){
    top: -2rem;
    left: 15rem;
  }
  .mainCircle>:nth-child(7){
    top: 1rem;
    left: -7rem;
  }
  .mainCircle>:nth-child(8){
    top: 0rem;
    left: -1rem;
  }
  .mainCircle>:nth-child(9){
    top: 1rem;
    left: 4rem;
  }
  .mainCircle>:nth-child(10){
    top: 0rem;
    left: 9rem;
  }
  .mainCircle>:nth-child(11){
    top: 5rem;
    left: 11rem;
  }
  .mainCircle>:nth-child(12){
    top: 6rem;
    left: -8rem;
  }
  .mainCircle>:nth-child(13){
    top: 6rem;
    left: -4rem;
  }
  .mainCircle>:nth-child(14){
    top: 5rem;
    left: 1rem;
  }
  .mainCircle>:nth-child(15){
    top: 3rem;
    left: 15rem;
  }
  .mainCircle>:nth-child(16){
    top: 6rem;
    left: 19rem;
  }
  .mainCircle>:nth-child(17){
    top: 11rem;
    left: -6rem;
  }
  .mainCircle>:nth-child(18){
    top: 10rem;
    left: 1rem;
  }
  .mainCircle>:nth-child(19){
    top: 11rem;
    left: 5rem;
  }
  .mainCircle>:nth-child(20){
    top: 9rem;
    left: 11rem;
  }
  .mainCircle>:nth-child(21){
    top: 9rem;
    left: 16rem;
  }
  .mainCircle>:nth-child(22){
    top: 15rem;
    left: -2rem;
  }
  .mainCircle>:nth-child(23){
    top: 17rem;
    left: 3rem;
  }
  .mainCircle>:nth-child(24){
    top: 16rem;
    left: 8rem;
  }
  .mainCircle>:nth-child(25){
    top: 14rem;
    left: 12rem;
  }
  .mainCircle>:nth-child(26){
    top: 14rem;
    left: 16rem;
  }
  @media screen and (max-width:480px) {
    .t-container{
      padding-top:0;
    }
    .tech{
      width: 100vw;
      height: fit-content;
      flex-direction: column;
    }
    .floatingdiv{
      width: 3rem;
    }
    .t-left>:nth-child(1){
      font-size: 2rem;
    }
    .t-left>:nth-child(2){
      font-size: 2rem;
    }
    .t-left>:nth-child(3){
      font-size: 1.5rem;
    }
    .skills{
      grid-template-columns: repeat(2,1fr);
    }
    .mainCircle{
      left: 1rem;
      width: 14rem;
      height: 14rem;  
    }
    /* .mainCircle>:nth-child(1){
      top: 4.55rem;
      left: 4.5rem;
    } */
    .mainCircle>:nth-child(2){
      top: 5rem;
      left: -2rem;
    }
    .mainCircle>:nth-child(3){
      top: 4.5rem;
      left: 11.5rem;
    }
    .mainCircle>:nth-child(4){
      top: -2em;
      left: 4.5rem;
    }
    .mainCircle>:nth-child(5){
      top: 11.5rem;
      left: 4.5rem;
    }
    .mainCircle>:nth-child(6){
      top: 5rem;
      left: -2rem;
    }
    .mainCircle>:nth-child(7){
      top: 4.5rem;
      left: 11.5rem;
    }
    .mainCircle>:nth-child(8){
      top: -2em;
      left: 4.5rem;
    }
    .mainCircle>:nth-child(9){
      top: 11.5rem;
      left: 4.5rem;
    }
    .secCircle>img{
      width: 50px;
      height: 50px;
    }
  }
  