.my-name {
  font-size: 2rem;
  font-weight: bold;
  &:hover {
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 10px rgb(41, 166, 244);
  }
}
header {
  width: 80vw;
  margin: auto;
}
.arrow {
  position: fixed;
  bottom: 0.5rem;
  right: 1rem;
  z-index: 60;
}
.arrow > * {
  font-size: 1.5rem;
}
.nav-list {
  display: flex;
  margin-top: 1rem;
  transition: top 0.5s ease-out;
  list-style: none;
  gap: 3rem;
  z-index: 50;
}

.nav-list a {
  font-size: 1.4rem;
  color: white;
  text-decoration: none;
  font-weight: bolder;
  cursor: pointer;
  transition: text-shadow 0.3s ease;
  &:hover {
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 10px rgb(41, 166, 244);
  }
}

.menu {
  display: none;
}
.nav-list .list-item:hover {
  text-shadow: 0px 20px 24px 3px rgba(251, 161, 40, 0.42);
}
/* Responsive Styles */
@media screen and (max-width: 1180px) {
  .name .img {
    height: 50px;
  }
  .name .my-name {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 980px) {
  header {
    position: fixed;
    padding-left: 1rem;
    top: 0;
    background: white;
    width: 100vw;
    z-index: 100;
  }
  .nav-list {
    width: 110vw;
    height: 100vh;
    position: fixed;
    background: white;
    top: -50rem;
    left: -1.5rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .my-name {
    margin-top: 1.5rem;
    font-size: 1.3rem;
  }
  .menu {
    position: fixed;
    display: block;
    top: 2rem;
    right: 1.5rem;
    z-index: 50;
  }
  .menu > * {
    font-size: 1.5rem;
  }
  .show {
    top: -1rem;
  }
}
