.i-container .intro .i-left {
  display: flex;
  flex: 0.6;
  flex-direction: column;
  gap: 2rem;
}
.i-left .heading {
  font-size: 3.5rem;
  margin: 0;
}
.i-left .text {
  font-size: 4rem;
  font-weight: 600;
  color: yellow;
  /* background: #ff0000;
  background: radial-gradient(
    circle farthest-corner at center center,
    #ff0000 0%,
    #05c1ff 50%,
    #ff0000 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}
.i-left .about {
  font-size: 1.2rem;
  font-weight: 100;
}
.i-container .intro .i-right {
  flex: 0.4;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.i-container .intro .i-left .i-icons {
  display: flex;
  gap: 4rem;
}

.i-container .intro .i-icons .icon {
  transform: scale(2);
}

.i-container .intro .i-icons:hover {
  cursor: pointer;
}

.i-container .intro .i-left .button {
  text-decoration: none;
}

.i-container .intro .i-right img {
  width: 28vw;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 5px 20px 5px rgb(0, 0, 0);
  animation: rotate 5s infinite ;
  transition: all;
}
@keyframes rotate {
  0%,
  100% {
    transform: translate(0px);
  }
  25% {
    transform: translateY(10px);
  }
  50% {
    transform: translate(20px);
  }
}

@media screen and (max-width: 1280px) {
  .i-container .intro .i-left {
    flex: 1;
    gap: 1.5rem;
  }
  .i-container .intro .i-left .i-name .dynamic-text .text {
    font-size: 2.5rem;
  }
  .i-container .intro .i-right .img {
    width: 16rem;
  }
}

@media screen and (max-width: 990px) {
  .i-container .intro .i-left .button {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 780px) {
  .i-container {
    flex-direction: column;
    align-items: center;
  }
  .i-container .intro .i-left {
    width: 100%;
    gap: 2rem;
  }
  .i-container .intro .i-left .i-name .heading {
    font-size: 2rem;
  }
  .i-container .intro .i-right {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .i-container .intro {
    gap: 1rem;
  }
  .i-container .intro .i-left {
    width: 100%;
    gap: 2rem;
  }
  .i-container .intro .i-left .i-name .heading,
  .i-container .intro .i-left .i-name .dynamic-text .text {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 360px) {
  .i-container {
    margin-top: 4rem;
    padding: 2rem 0.5rem;
  }
  .i-container .intro .i-left .i-name .heading {
    font-size: 2rem;
  }
  .i-container .intro .i-left .i-name .dynamic-text .text {
    font-size: 1.8rem;
  }
  .i-container .intro .i-left .button {
    font-size: 1rem;
  }
  .i-container .intro .i-left .i-icons {
    margin-left: 0;
    justify-content: space-evenly;
    gap: 2rem;
  }
  .i-container .intro .i-right .img {
    width: 8rem;
  }
}
