:root
{
  --yellow: #F5C32C;
    --orange : #feb837;
    --black : #242D49;
    --gray : #788097;
    --blueCard : #DDF8FE;
    --purple: rgb(238 210 255);
    --boxShadow : 0px 19px 60px rgb(0 0 0 / 8%);
    --orangeCard: rgba(252, 166, 31, 0.45);
    --smboxShadow: -79px 51px 60px rgba(142, 34, 34, 0.08);
}
.footer {
  display: flex;
  margin: -0.5rem -3.5rem;
  position: relative;
  margin-top: -2rem;
}
.f-content {
  width: 100%;
  margin-top: 2.5rem;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.f-content .social p{
  font-size: 30px;
}
.f-icons {
  display: flex;
  gap: 2rem;
}
.f-connect span{
    color: var(--black);
}
@media screen and (max-width: 480px) {
  .footer {
    margin-top: 0;
  }
  .f-content{
    flex-direction: column;
  }
  .f-content span {
    color: var(--black);
    font-size: 1.1rem;
  }
  .f-icons {
    gap: 2rem;
    color: var(--black);
  }
}
