* {
  margin: 0;
  padding: 0;
  color: #1e81d7;
  &:hover {
    color: white;
  }
}

body {
  background-image: radial-gradient(#45469c 1px, transparent 1px);
  background-size: 60px 60px;
  background-color: #0f2f3a;
}
.component-heading {
  text-align: center;
  font-weight: bold;
  margin-bottom: 2rem;
  background: #ff0000;
  background: radial-gradient(
    circle farthest-corner at center center,
    #05c1ff 0%,
    #ff0000 25%,
    #05c1ff 50%,
    #ff0000 75%,
    #05c1ff 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.button {
  width: fit-content;
  border-radius: 34px;
  border: none;
  font-size: 16px;
  padding: 11px 26px;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  color: white;
  &:hover {
    background: white;
    color: #0f2f3a;
    cursor: pointer;
  }
}
.disable {
  box-shadow: 0px 20px 24px 3px rgba(251, 161, 40, 0.42);
  background: rgb(190, 128, 13);
}

.first-color {
  background: #e7eaf6;
}

.second-color {
  background: #a2a8d3;
}

.third-color {
  background: #38598b;
}

.fourth-color {
  background: #113f67;
}
.skill-icon {
  font-size: 4rem;
}
